/* Minimal CSS reset */
*,
*::before,
*::after {
  /* use alternative box model */
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  height: 100vh;
}

/* Default Fonts */

:root {
  font-size: 18px;
  font-family: 'Roboto', 'Sans Serif';
  --left-spacing: 2.5rem;
}

/* CSS */

body {
  display: flex;
  background-color: #f3f3eb;
}

/* Left Sidebar */

.sidebar {
  flex: 1;
  background-image: url(images/hang-niu-Tn8DLxwuDMA-unsplash.jpg);
  background-size: cover;
  position: relative;
}

.sidebar-logo {
  position: absolute;
  display: flex;
  top: 10%;
  height: 20%;
  width: 100%;
  background-color: rgba(240, 240, 240, 0.5);
  opacity: 50%;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-family: 'Grandstander', 'Sans Serif';
}

/* Main Content (right of page) */
.content {
  flex: 3;
  margin: 10vh 0;
}

.content>* {
  padding-left: var(--left-spacing);
}

/* Intro Paragraph */

.content-text {
  padding-top: 20px;
  height: 20%;
}

.content-text p {
  max-width: 80%;
}

/* Form Section */

.form {
  height: 50%;
  background-color: #9191bd;
}

.form>p {
  padding-top: 20px;
  font-size: 2rem;
  font-family: 'Grandstander', 'Sans Serif';
}

.field {
  display: inline-block;
  margin: 10px 40px 10px 0px;
}

input {
  border-radius: 5px;
}

input:focus {
  border-color: #ba6444;
  box-shadow: 4px 2px 2px #5f5f91;
  outline: none;
}

input:user-invalid {
  border-color: red;
}

.disclaimer {
  color: rgb(36, 36, 36);
  font-size: 0.85rem;
}

/* Create Account Section */

.account {
  height: 30%;
}

.account>button {
  background-color: #c9795c;
  font-size: 1.3rem;
  font-family: 'Grandstander', 'Sans Serif';
  padding: 5px 5px;
  margin: 20px 0;
  border-radius: 5px;
}